.designfaster {
  width: 25vw;
  height: auto;
  text-align: center;
  margin-top: -39px;
}
.headingDesign {
  font-family: "poppins";
  letter-spacing: -0.44px;
  text-align: left;
  font-weight: 400;
  font-size: 24px;
 margin-left: 50px;
}
.cirle-earning {
  width: 75%;
  margin: auto;
  padding: 7px;
  height: 40vh;
  border-radius: 15px;
  border: 1px solid lightgray;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.num {
  color: rgb(134, 134, 125);
  margin-top: -5px;
}
.circles {
  height: 86px;
  width: 86px;
  border-radius: 50%;
  background: lightgray;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.innercircle {
  height: 78px;
  width: 78px;
  background: #ffff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.innermostcircle {
  height: 49px;
  width: 49px;
  background: lightgray;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
p {
  font-family: "roboto";
  color: #383874;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  align-items: center;
}
.updown {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
}
.compare {
  font-family: "Roboto";
  font-size: 12px;
  line-height: 16px;
  color: #383874;
}
.types {
  height: auto;
  width: 20vw;
  margin: 0.5rem auto;
}
.travel{
padding: 30px;

}
.type-1 {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 0.3rem 0;
  font-size: 14px;
}
.bg-blue {
  border-radius: 15px;
  width: 75%;
  margin: 10px;
  margin-left: 50px;
  line-height: 2px;
  background: #8676ff;
  color: azure;
}
.blue-3 {
  height: 50%;
  padding: 0.5rem;
  text-align: left;
}
.blue-2 {
  height: 50%;
  padding: 0.5rem;
  padding-bottom: 0%;
  text-align: left;
}
.acc-data {
  width: 75%;
  border-radius: 15px;
  padding: 0.3rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  font-size: 0.9rem;
}
.bubbles {
  height: 100%;
  width: 70%;
  flex-direction: column;
  background: #eef1fa;
  border-radius: 30px;
}

.all-bubles {
  width: 80%;
  height: 65vh;
  margin: 1rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
}
.all-bubles div {
  border-radius: 50%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #ffff;
}
.center-div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 370px;
  width: 370px;
  border-radius: 50%;
  background: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 10px;
}
.innermost {
  height: 180px;
  width: 180px;
  background: radial-gradient(#838fff 55%, #e3e6ff);
}